@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.flexmonster.com/flexmonster.js"></script>

<div class="text-center">
    <h1 class="display-4">Flexmonster Pivot Table & Charts</h1>
</div>

<div class="text-center m-5">
    <label for="country">Choose user role:</label>

    <select id="country">
        <option value="AAAA">Admin(all countries)</option>
        <option value="BBBB">Europe manager</option>
        <option value="CCCC">North American manager</option>
        <option value="DDDD">Australia manager</option>
    </select>
</div>

<div id="pivotContainer"> </div>