@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.flexmonster.com/flexmonster.js"></script>

<div class="text-center">
    <h1 class="display-4">Flexmonster Pivot Table & Charts</h1>
    <p>Learn about using  <a href="https://www.flexmonster.com/doc/getting-started-with-data-server-dll/">Flexmonster Data Server DLL</a>.</p>
</div>

<div class="text-center m-5">
    <label for="country">Choose user role:</label>

    <select id="country">
        <option value="AdminToken">Admin(all countries)</option>
        <option value="EuropeToken">Europe manager</option>
        <option value="AmericaToken">North America manager</option>
        <option value="AustraliaToken">Australia manager</option>
    </select>
</div>

<div id="pivotContainer"> </div>